.view-galleries .view-display-id-attachment_1 .overlay-title {
  display: none;
}

.view-header {
  margin-bottom: 10px;
}

.view-header a {
  background: url("../../corolla/css/images/action-link.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  padding-left: 15px;
}
